<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Admin</title>
</head>
<header>
    <nav>
        <h4>Collegefulbar</h4>
        <ul>
            <li><a href="/add"></a>Add Course</li>
            <li><a href="/remove"></a>Remove Course</li>
            <li><a href="/viewadmin"></a>View Courses</li>
            <li><a href="/update"></a>Update Course</li>
            <li><a href="/viewStudents"></a>View Students</li>
            <li><a href="/addStudent"></a>Add Students</li>
            <li><a href="/delStudent"></a>Delete Students</li>
            <li><a href="/upStudent"></a>Update Students</li>
            <form method="post">
                <button formaction="/logout" class="pure-button button-small">logout</button></center>
            </form>
        </ul>
    </nav>
</header>

<body>
    <section id="main" class="wrapper">
        <div id="enroll" class="container">
            <p>Add Courses</p>
            <div class="card-body">
                <form action="/add/submit" method="POST">
                    <div class="form-group">
                        <label for="title">Course Name</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Enter Course Name">
                    </div>
                    <div class="form-group">
                        <label for="section">Course Section</label>
                        <input type="text" class="form-control" id="section" name="section" placeholder="section">
                    </div>
                    <div class="form-group">
                        <label for="instructor">Professor</label>
                        <input type="text" class="form-control" id="instructor" name="instructor"
                            placeholder="instructor Name">
                    </div>
                    <div class="form-group">
                        <label for="room">Room #</label>
                        <input type="text" class="form-control" id="room" name="room" placeholder="Enter Room number">
                    </div>

                    <div class="form-group">
                        <label for="credits">Credits</label>
                        <input type="number" class="form-control" id="credits" name="credits"
                            placeholder="Total Credits">
                    </div>
                    <div class="form-group">
                        <label for="cost">Cost</label>
                        <input type="number" class="form-control" id="cost" name="cost" placeholder="Total Cost">
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="myFunction()">Add</button>

                </form>


            </div>

        </div>
        <div class="container">
        </div>
    </section>

    <script>
        function myFunction() {
            alert("Course Has been Added");
        }
    </script>
</body>

</html>