<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Admin</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="/studentview"></a>Courses</li>
            <li><a href="/studentdrop"></a>Drop</li>
            <li><a href="/studentgrades"></a>Grades</li>
            <li><a href="/studentclasses"></a> Classes</li>
            <li><a href="/studentenrollments"></a> Enrollments</li>
            <form method="post">
                <button formaction="/logout" class="pure-button button-small">logout</button></center>
            </form>
        </ul>
    </nav>
</header>

<body>

    <section id="main" class="wrapper">
        <div id="view" class="container">
            <h5>View Enrollments By Semester</h5>
            <table>
                <tbody>
                    <br>
                    <td><a href="/view/enroll">Current Semester Enrolled </a></td>
                    <br></br>
                    <td><a href="/view/nextenroll">Next Semester Enrolled </a></td>
                    </tr>
                </tbody>
            </table>
            <h5>List of Enrollment</h5>
            <table>
                <tbody>
                    <tr>
                        <td> Class ID</td>
                        <td> Student ID </td>
                        <td> Grade</td>
                    </tr>
                    {{#each class}}

                    <tr>
                        <td>{{this.ClassId}}</td>
                        <td>{{this.StudentId}}</td>
                        <td>{{this.Grade}}</td>
                        <td><a href="/dropclass/{{ClassId}}">Drop </a></td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </section>
</body>


</html>