<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Admin</title>
</head>
<header>
    <nav>
        <h4>Collegefulbar</h4>
        <ul>
            <li><a href="/add"></a>Add Course</li>
            <li><a href="/remove"></a>Remove Course</li>
            <li><a href="/viewadmin"></a>View Courses</li>
            <li><a href="/update"></a>Update Course</li>
            <li><a href="/viewStudents"></a>View Students</li>
            <li><a href="/addStudent"></a>Add Students</li>
            <li><a href="/delStudent"></a>Delete Students</li>
            <li><a href="/upStudent"></a>Update Students</li>
            <form method="post">
                <button formaction="/logout" class="pure-button button-small">logout</button></center>
            </form>
        </ul>
    </nav>
</header>

<body>
    <section id="main" class="wrapper">
        <div id="enroll" class="container">
            <p>Delete Student</p>
            <div class="card-body">
                <form action="/deletestudent/submit" method="POST">
                    <div class="form-group">
                        <label for="name">Student Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter student Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Student email">
                    </div>

                    <button type="submit" class="btn btn-primary" onclick="myFunction()">Delete Student</button>

                </form>


            </div>

        </div>
        <div class="container">
        </div>
    </section>

    <script>
        function myFunction() {
            alert("Student Has been Deleted");
        }
    </script>
</body>

</html>