<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Student</title>
</head>
<header>
    <nav>
        <h4>Collegefulbar</h4>
        <ul>
            <li><a href="/view"></a>View</li>
            <li><a href="/enroll"></a>Enroll</li>
            <li><a href="/drop"></a>Drop</li>
            <li><a href="/grades"></a>Grades</li>
            <form method="post">
                <button formaction="/logout" class="pure-button button-small">logout</button></center>

            </form>
        </ul>
    </nav>
</header>

<body>

    <section id="main" class="wrapper">

        <div id="enroll" class="container">


            <h2>Enroll Classes</h2>

        </div>

        <div class="container">

        </div>


        <div id="drop" class="container">

            <h2>Drop Classes</h2>
        </div>

        <div class="container">

        </div>


        <div id="view" class="container">

            <h2>View Class</h2>



        </div>

        <div class="container">

        </div>


        <div id="grades" class="container">

            <h2>Grades</h2>

        </div>


        <div class="container">

        </div>





    </section>


</body>